<div style="margin-top: 20px;">
<div>
    <h1>Faculties</h1>
    <div style="justify-content: center; flex-wrap: wrap; display: flex;">
    <mat-card class="courses" *ngFor="let faculty of faculties; let i = index" style="margin: 10px; width:20%;">
      <mat-card-header style="justify-content: center;">
        <mat-card-title>{{faculty}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/1000/1000?random={{i+courses.length}}" alt="Photo of a book" style="height: 350px;">
    </mat-card>
    </div>
</div>
<div style="margin-top: 10px;" id="ourCourses">
    <h1>Our Available Courses</h1>
    <div style="justify-content: center; flex-wrap: wrap; display: flex;">
    <mat-card class="courses" *ngFor="let item of courses; let i=index" style="margin: 10px; width:20%;">
      <mat-card-header style="justify-content: center;">
        <mat-card-title>{{item}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/1000/1000?random={{i}}" alt="Photo of a book" style="height: 350px;">
    </mat-card>
    </div>
</div>
</div>