.form-container {
  width: 60%;
  margin: 25px auto;
}

.full-width {
  width: 100%
}
.add-course-buttons{
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
  }

  .overFour{
    justify-content: space-between;
  align-items: center;
  }
  .learning-objectives {
    width: 600px;
    height: fit-content;
    padding: 5px;
    border: 1px solid black;
  }
  
  .objectives-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  