<mat-toolbar class="mat-elevation-z8">
  <div class="spacer">
    <span routerLink=""><mat-icon>menu_book</mat-icon>We Learn</span>
    <div class="dropdown">
      <a mat-button class="drpbtn" routerLink="explore">Explore</a>
      <div class="dropdown-content">
        <a routerLink="explore">Faculties</a>
        <a (click)="gotoCourse()">Courses</a>
      </div>
    </div>
    <a *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'student'" mat-button>Courses</a>
    <a *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'student'" mat-button>Registered Courses</a>
    <a *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'student'" routerLink="calendar" mat-button>My Calendar</a>
    <a *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'faculty'" routerLink="my-faculty-course" mat-button>Add/Edit Course</a>
    
    
    <a
      *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'admin'"
      mat-button
      routerLink="add-course"
      >Add/Edit Courses</a
    >
    <a
      *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'admin'"
      mat-button
      routerLink="all-user-details"
      >All Users Details</a
    >
    <a
      *ngIf="courseData.AuthedUser && courseData.AuthedUser.type === 'admin'"
      mat-button
      routerLink="accept-student-registration"
      >Accept Student Registration</a
    >
    <div style="display: flex">
      <a mat-raised-button (click)="loginlogout(); courseData.isFaculty = false">{{
        courseData.AuthedUser ? "Logout" : "Login"
      }}</a>
    </div>
  </div>
</mat-toolbar>
