<mat-toolbar class="mat-elevation-z8">
    
    <div class="spacer">
        <span routerLink=""><mat-icon>menu_book</mat-icon>We Learn</span>
    <div class="dropdown">
        <a mat-button class="drpbtn" routerLink="explore">Explore</a>
        <div class="dropdown-content">
            <a href="#">Data Structure</a>
            <a href="#">OOP</a>
            <a href="#">Algorithms</a>
            <a href="#">UID</a>
            <a href="#">Web Development</a>
        </div>
    </div>
        <a mat-button>Courses</a>
        <a mat-button>Registered Courses</a>
        <div style="display: flex;">
        <a routerLink="login" (click)="onFacultyLoginClick(true)" style="font-size: medium; margin-right: 6px;">Login as Faculty</a>
        <a mat-raised-button (click)="onFacultyLoginClick(false)" routerLink="login">Login</a>
        </div>
    </div>
    
</mat-toolbar>