<div class="main-menu-layout">
    <div class="upperbutton">
        <input type="button" value="Join for free" class="btn1"/>
    </div>
    <figure class="figure">
        <img [src]="netImage" class="img1">
    </figure>
</div>
<div class="courses-header">
    <h6>Courses and Specializations</h6><br>
    <h1>Courses You Can Complete in a Day</h1><br>
    <h3>Over 4,000 courses in topics like business analytics, graphic design, Python, and more.</h3>
</div>
<div class="courses">

    <mat-card class="webdev">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button (click)="goto('course-content/1')">button</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button>button</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button>button</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button>button</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button>button</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card">
        <img mat-card-image [src]="courseImage">
        <mat-card-actions>
            <button mat-button>button</button>
        </mat-card-actions>
    </mat-card>
</div>
<input type="button" value="Explore-more" class="explore"/>


