.main-menu-layout{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1400px;
    width: 100%;
}
.upperbutton{
    margin-left: 100px;
    margin-right: 180px;
    padding: 40px 0 55px;
    width: 570px;
    z-index: 3;
}
.btn1{
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #0056d2;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: 2px solid #0056d2;
    font-size: 20px;
    height: 72px;
    margin-right: 10px;
    width: 238px;
}
.btn1:hover{
    background-color: #00419E;
}
.btn2{
    border-radius: 4px;
    text-align: center;
    color: #0056d2;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #0056d2;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: 2px solid #0056d2;
    height: 72px;
    width: 320px;
}
.btn2:hover{
    background-color: #F3F8FF;
}
input{
    cursor: pointer;
}
h1{
    color: #1f1f1f;
    font-size: 5.25rem;
    line-height: 5.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.img1{
    height: 497px;
    width: 459px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-top: 32px;
}
.courses-header{
    margin-left: 2%;
    margin-bottom: 2%;
}
button {
    background-color: #0c04aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
  }
.card{
    width: 150px;
    height: 300px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.webdev{
    width: 150px;
    height: 300px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.h1{
    margin-left: 10%;
}
.h6{
    margin-left: 10%;
}
.h3{
    margin-left: 10%;
}
.courses{
    max-width: 200px;
  }
