<div style="display: flex; justify-content: center; ">
    <mat-card
      class="courses"
      style="margin: 10px;"
    >
      <mat-card-header style="justify-content: center">
        <mat-card-title>{{ course }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://picsum.photos/1000/1000?random={{number}}"
        alt="Photo of a book"
      />
      <mat-card-actions >
        <button mat-button (click)="goto(goToRoute(course))" disabled="{{notAuthed}}">
          View Course
        </button>
      </mat-card-actions>
    </mat-card>
  </div>