.courses{
    max-width: 200px;
  }




  mat-card-actions{
    text-align: center; 
  }

  button{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
  }