<mat-card>
  <mat-card-title>Add a Student to System</mat-card-title>

  <div class="form-container">
    <form [formGroup]="addNewStudent">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <input
                formControlName="username"
                matInput
                placeholder="Student Username"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <input
                formControlName="password"
                matInput
                placeholder="Student Password"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="saveForm()" mat-raised-button color="primary">
          Add User
        </button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
