<h1 class="syllabusheader">Syllabus - What you will learn from this Course</h1>
<div class="syllabuscont">
    <div class="week">
        <div class="weekheader">
            <h2>Week 1</h2>
        </div>
        <div class="courcontent">
            <div class="hourstocomplete">
                <span class="material-icons">
                    schedule
                    </span>
                <div> 1 hour to complete </div>
            </div>
            <div class="coursetitle">
                Welcome to the Course
            </div>
            <div class="courselength">
                <span class="material-icons">
                    menu_book
                </span>
                <div class="videocount">
                    2 videos (Total 7 min), 3 readings
                </div>
            </div>

        </div>

    </div>
</div>