<h1 class="syllabusheader">Syllabus - What you will learn from this Course</h1>
<div class="syllabuscont">
  <div class="week">
    <div class="weekheader">
      <h2>Content</h2>
    </div>
    <div class="courcontent">
      <div class="hourstocomplete">
        <span class="material-icons"> schedule </span>
        <div>
          {{
            math(
              (data.courseVideos.length * 20) / 60 +
                (data.courseReadings.length * 20) / 60
            )
          }}
          hour to complete
        </div>
      </div>
      <div class="courselength">
        <span class="material-icons"> menu_book </span>
        <div class="videocount">
          {{ data.courseVideos.length }} videos ,
          {{ data.courseReadings.length }} readings
        </div>
      </div>
      <a
        (click)="readMore = !readMore"
        style="color: blue; text-decoration-line: underline; margin-top: 10px"
        ><p *ngIf="!readMore" style="margin-left: 200px">Read More..</p>
        <p *ngIf="readMore" style="margin-left: 200px">Show Less..</p></a
      >
      <!-- <div *ngIf="readMore" style="margin-top: 10px;">
                <div class="numOfVideos">
                <span class="material-icons">video_library</span>
                <h3> 2 Videos</h3>
                </div>
                <div class="videosLinks" style="margin-left: 20px;">
                    <a (click)="goto('videos/1')">Meet the Professor  4m</a>
                    <br>
                    <a (click)="goto('videos/1')">Course Introduction  2m</a>
                </div>
                <div class="numOfVideos">
                <span class="material-icons">book</span>
                <h3> 3 Readings</h3>
                </div>
                <div style="margin-left: 20px;">
                    <p>Course Information and Keys to Success  10m</p>
                    <p>Discussion Forum Guidelines  2m</p>
                    <p>Accessibility and Accommodations Statement  1m</p>
                </div>
            </div> -->

      <div *ngIf="readMore" class="contentDiv" style="margin-top: 10px">
        <span class="example-list-section">
          <ul>
            <li *ngFor="let video of selectedVideos; let i = index">
              <!-- [(ngModel)]="course.completed"
              (ngModelChange)="updateAllComplete()" -->
              <div style="display: flex; align-items: center; gap: 10px">
                <input
                  type="checkbox"
                  [value]="video.video"
                  [checked]="video.selected"
                  (change)="updateSelectedVideos($event)"
                />
                <div style="display: flex; align-items: center">
                  <span class="material-icons">video_library</span>
                  <a
                    [routerLink]="['/videos/' + (i + 1)]"
                    [queryParams]="{ video: video.video }"
                    >Video {{ i + 1 }}</a
                  >
                </div>
              </div>
            </li>
            <li *ngFor="let reading of selectedReadings; let i = index">
              <div style="display: flex; align-items: center; gap: 10px">
                <input
                  type="checkbox"
                  [value]="reading.reading"
                  [checked]="reading.selected"
                  (change)="updateSelectedReadings($event)"
                />
                <div style="display: flex; align-items: center">
                  <span class="material-icons">book</span>
                  <a>Reading {{ i + 1 }}</a>
                </div>
              </div>
              <!-- [(ngModel)]="course.completed"
                (ngModelChange)="updateAllComplete()" -->
            </li>
          </ul>
        </span>
        <button
          mat-raised-button
          title="Go to Quiz"
          *ngIf="allComplete"
          (click)="navigateToQuiz()"
        >
          Go to Quiz
        </button>
      </div>
    </div>
  </div>
</div>
