.instructor{
    margin: 10px 0;
    height: 100px;
}
.flex-space-between {
    width: fit-content;
    height: 25px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .material-icons{
      font-size: 48px;
  }