.course-content-layout {
  padding: 20px;
}

.course-desc {
  width: 600px;
  height: 100px;
  padding: 5px;
}

.learning-objectives {
  width: 600px;
  height: fit-content;
  padding: 5px;
  border: 1px solid black;
}

.objectives-container {
  display: grid;
  grid-template-columns: auto auto;
}
.center {
  position: absolute;
width: 100%;
height: 100%;
z-index: 15;
top: 50%;
margin: -100px 0 0 -150px;

  }
