<table>
    <tr>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <tr *ngFor="let course of filteredCourses;">
        <td>{{course.courseName}}</td>
        <td>{{course.start}}</td>
        <td>{{course.end}}</td>
    </tr>
</table>


<iframe src="https://calendar.google.com/calendar/embed?src=phcah94gonjtcrjhn176uf9va4%40group.calendar.google.com&ctz=Africa%2FCairo" 
style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
</iframe>
