<form>
    <h1>Sign Up</h1>
    <h4 style="text-align: center;">Learn in your own time from top universities and businesses.</h4>
      <div class="container">
    <div>
      <label for="fullname"><b>Full Name</b></label> <br/>
      <input type="text" placeholder="Enter your Full Name" name="fullname" required>
    </div>

    <div>
        <label for="uname"><b>Email</b></label> <br/>
        <input type="text" placeholder="name@email.com" name="uname" required #email>
    </div>

  <div>
      <label for="psw"><b>Password</b></label><br/>
      <input type="password" placeholder="Create Password" name="psw" required  #password>
      <label>Between 0 and 72 characters</label>
    </div>

      <button type="Login" (click)="submitsignup(email.value,password.value)">Join For Free</button>

      <div class="anotherPage" >Already in WeLearn? <a (click)="gotoLogin()" style="margin-left: 2px;">Login Now</a></div>
      
    </div>
</form>