<form [formGroup]="myForm">
    <h1>Sign Up</h1>
    <h4  style="text-align: center;" >Learn in your own time from top universities and businesses.</h4>
    <h5 style="text-align: center; color:red;"*ngIf="error">This Mail Already Exist</h5>
      <div class="container">
        
    <div>
      <label for="fullname"><b>Full Name</b></label> <br/>
      <input type="text" formControlName="name" placeholder="Enter your Full Name" name="fullname" required #name>
    </div>

    <div>
        <label for="uname"><b>Email</b></label> <br/>
        <input type="text" formControlName="email" placeholder="name@email.com" name="uname" required #email>
    </div>

  <div>
      <label for="psw"><b>Password</b></label><br/>
      <input type="password" formControlName="pass" placeholder="Create Password" name="psw" required  #password>
      <label>Between 0 and 72 characters</label>
    </div>

      <button type="Login" [disabled]="!myForm.valid" (click)="submitsignup(email.value,password.value,name.value)">Join For Free</button>

      <div class="anotherPage" >Already in WeLearn? <a (click)="gotoLogin()" style="margin-left: 2px;">Login Now</a></div>
      
    </div>
</form>